<ng-container *ngIf="vm$ | async as vm">
  <p>
    {{ vm.ticket.description }}
  </p>

  <label>Assignee:</label>
  <a href="javascript:;" (click)="openUserDetailIvy(vm.ticket.assigneeId)">{{
    vm.assignee.name
  }}</a>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Ticket History</span>
      </ng-template>
      <ng-template matTabContent>
        <mat-list role="list" *ngFor="let changeEntry of vm.ticketHistory">
          <mat-list-item role="listitem">
            <a
              href="javascript:;"
              (click)="openUserDetail(changeEntry.userId)"
              >{{ changeEntry.userName }}</a
            >&nbsp;
            {{ changeEntry.changeMsg }}
          </mat-list-item>
        </mat-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>
